<script id="footer-section" type="tmpl">

	<footer>
		<div>
			<img class="logo" src="static/img/logo-lockup.svg">
			<small>&copy 2018 National WIC Association. All Rights Reserved. <a href="{{link}}">Full Disclaimer</a> <a href="https://www.nwica.org/privacy-policy">Privacy and Terms</a></small>

		</div>
	</footer>
</script>
