<script id="header-section" type="tmpl">
	<header style="" class="noticeHeader"><p>Struggling to provide healthy food for your young child during the COVID-19 crisis? WIC is here to help. Most WIC programs are enrolling people by phone or online. Use the zip code locator to find the phone number.</p></header>
	<header class="cmrHeader">
		<div class="globalHeader_logo">
			<img class="logo" src="/static/img/logo.svg">
		</div>
		<h2>{{title}}</h2>
		<div class="link-wrap">
			<a :href="url">{{cta}}</a>
		</div>
	</header>
	<header class="globalHeader">
		<img class="superscript" src="/static/img/header-flourish.png">
	</header>
</script>