<script id="sticky-footer" type="tmpl">
    <section class="sticky-footer">
        <div class="wrap">
            <div id="input-sec" v-html="input_lang"></div>
            <div class="btn" id="input-btn">{{cta}}</div>
        </div>

        
    </section>
</script>
