@font-face{
    font-family:"din-regular";
    src:url("/static/fonts/1381398/4de9298c-f40d-4a75-9c2c-ffac376c134f.eot?#iefix");
    src:url("/static/fonts/1381398/4de9298c-f40d-4a75-9c2c-ffac376c134f.eot?#iefix") format("eot"),url("/static/fonts/1381398/7cec9587-8ab7-442c-941d-3361ca9b5fa0.woff2") format("woff2"),url("/static/fonts/1381398/a5c0bb07-797b-411b-ab40-0942c7618db8.woff") format("woff"),url("/static/fonts/1381398/595973b5-ce57-401e-b010-5524621496dc.ttf") format("truetype");
}
@font-face{
    font-family:"din-bold";
    src:url("/static/fonts/1448028/0cfa7c07-29e3-473f-a0e0-9f2b6a1c2880.eot?#iefix");
    src:url("/static/fonts/1448028/0cfa7c07-29e3-473f-a0e0-9f2b6a1c2880.eot?#iefix") format("eot"),url("/static/fonts/1448028/bb06c1e8-d3a7-48b2-8421-210adb53936c.woff2") format("woff2"),url("/static/fonts/1448028/4c553e2f-60f0-4b5a-bb6f-ea7c8b4469d3.woff") format("woff"),url("/static/fonts/1448028/12245acd-f8a6-4165-985a-c90be2f6a58f.ttf") format("truetype");
}

@font-face {
    font-family: "Gravur";
    src:url("/static/fonts/lineto-gravurcondensed-black.eot");
    src:url("/static/fonts/lineto-gravurcondensed-black.eot?#iefix") format("embedded-opentype"),
        url("/static/fonts/lineto-gravurcondensed-black.woff2") format("woff2"),
        url("/static/fonts/lineto-gravurcondensed-black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}