#app{
	display: block !important;
}

// stuff
#mapCanvas {
	//width: 100%;
	height: 350px;
	@include breakpoint('desktop'){
		height: 650px;
	}
}
.emptyMap {
	height: 500px;
	background: #eee;
}
.is-active {
	font-weight: 700;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a,h1, h2, h3,h4, h5, p, li, input {
	-webkit-font-smoothing: antialiased;
	font-family: sans-serif;
}

h1,h2,h3,h4,h5{
	margin: 0;
}

h1{
	font-size: 55px;
	@include breakpoint('tablet'){
		font-size: 74px;
	}
}

h2{
	font-size: 45px;
	
	@media screen and (max-width:$mobile-large) {
		font-size: 32px;
	}
}

h3{
	font-size: 41px;
}

p{
	line-height: 24px;
	font-size: 18px;
	color: $black;
	@include breakpoint('tablet'){
		line-height: 29px;
		font-size: 20px;
	}
}
a{
	text-decoration: none;
}

ul, li{
	margin: 0;
	padding: 0;
}

h1,h2,h3{
	font-family: 'Gravur', verdana, sans-serif;
}

input{
	font-family: 'din-bold', verdana, sans-serif;
}

p, a, li, button, div, header, footer, h4 {
	font-family: 'din-regular', verdana, sans-serif;
}

em {
	font-style: italic;
}


.gm-style-iw{
	& > div{
		width: 380px;
		height: 160px;
		position: relative;
	}

	p{
		font-size: 14px;
		line-height: 16px;
		padding-bottom: 4px;
	}

	.itemInfo_title{
		padding-bottom: 6px;
		font-size: 18px;
		line-height: 20px;
		margin-top: 10px;
		font-family: 'din-bold', verdana, sans-serif;
	}

    a{
		position: absolute;
		bottom: 10px;
		font-family: 'din-bold', verdana, sans-serif;
		display: inline-block;
		color: $red;
		padding-top: 12px;
		padding-bottom: 2px;
		border-bottom: 1px solid white;
		&:hover{
			border-bottom: 1px solid $red;
		}
    }
}

.loading-sprite {

	img {
		display: block;
		margin: 0 auto;
		width: 70px;
		margin-top: 40px;
	}

	@include breakpoint('desktop') {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}

.error {
	position: relative;
	margin: 20px 0 0;
	text-align: center;
	color: white;
	font-size: 24px;

	@include breakpoint('desktop') {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 40px;
	}
}
